1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

'hello'= values 

-87.8 = values 

6 = values

- = expression

/ = expression

+ = expression

2. What is the difference between string and variable?

a)A variable is something that stores data - it can store a string, int, float, class, etc. Whereas a string is something that has text string in it.

b)All strings are variables, but not all variables are strings.

c)Variables in programs are references to values that have types. String is simply one of the handful of types that Python uses along with various number types, collection types (list, string , tuple, dict, and set), objects and a few more.

d)A variable can hold a string, however a string cannot do so.

e)A variable can store everything from strings to numbers. Whereas a string is the values inside the quotes assigned to a string.

f)In python anything you assign to a variable using quotes (single or double) will be considered as a string. Thus, a string is one of several types of a variable.

3.Describe three different data types.

a)List is a collection which is ordered, changeable and can have duplicate members. eg:-mylist = ["ant", "bettle", "catepillar"]

b)Tuple is a collection which is ordered, unchangeable and can have duplicate members. eg:-tuple = ("abc", 54, True, 4056, "hello")

c)Set is a collection which is unordered, unindexed and does not allow duplicate members. eg:-myset = {"apple", "banana", "cherry"}

d)Dictionary is a collection which is ordered, changeable and does not allow duplicate members. eg:-dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }

4. What is an expression made up of? What do all expressions do?

An expression is a combination of values, variables and operators. All expressions reduce to a single value.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

a)An expression represent to a single value whereas a statement does not.

b)Statements represent an action or command e.g print statement
whereas expression is a combination of variables, operations and values that yields a result value.Eg. 2+3=5

6. After running the following code, what does the variable bacon contain?

bacon = 22 bacon + 1

In [1]:
bacon = 22

In [2]:
bacon + 1

23

In [3]:
bacon

22

The variable bacon is equal to 22. The expression bacon + 1 doesnot change the value of bacon. If we want to change bacon value to 23 than we need to write bacon = bacon + 1.

7. What should the values of the following two terms be?

'spam' + 'spamspam' 

'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

The value for both terms are same because the string concatenate and give the same answer with addition and multiplication.

8. Why is eggs a valid variable name while 100 is invalid?

100 is an invalid variable because variable cannot start with numbers.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), str() and float() are the function used to pass a value and make value of respective type.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

This expression causes error because "I have eaten" and "burritos" are string data type and to get a expression like "I have eaten 99 burritos" we need to make 99 a string so that it can concatenate.